:root{
    --selective-yellow: #FCBA04;
    --turkey-red: #A50104;
    --rosewood: #590004;
    --black-bean: #250001;
    --light-coral: #F49390;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.hero{
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--black-bean);
    color: white;
}

.header-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__list-container{
    display: flex;
}

.navbar__list-item{
    margin-right: 2rem;
}

.navbar__link{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar__link:hover{
    color: var(--selective-yellow);
}

.navbar__link::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--selective-yellow);
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.navbar__link:hover::after{
    transform: scaleX(1);
}

.header{
    min-height: 15vh;
    padding-bottom: 8rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    color: white;
    background-color:var(--black-bean);
}

.main__container, .analisis__container, .conclusion__container{
    max-width: 800px;
}

.main__title, .analisis__title, .conclusion__title{
    color: var(--selective-yellow);
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.main p, .analisis p, .conclusion p{
    margin-bottom: 2.4rem;
    text-align: left;
    line-height: 1.8;
}

strong{
    color: var(--light-coral);
}

.analisis{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--rosewood);
    color: white;
}

.conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--turkey-red);
    color: white;
}


